@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400&display=swap');
@import "tailwindcss";
@plugin 'lightswind/plugin'; 



@font-face {
  font-family: 'Syne';
  src: url('/fonts/Syne-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* globals.css */
[data-cursor-target] {
  --cursor-curl: 0;
  --cursor-splat-force: 0;
  --cursor-density-dissipation: 1;
  --cursor-pressure: 0;
}

[data-cursor-hover="true"] {
  --cursor-splat-force: 0.15 !important;
}
